node_modules
package-lock.json
dist
.env
.DS_Store
.vscode
.idea
*.log
coverage
*.tmp
*.swp
*.bak
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.iml
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.pem
*.key
*.crt
*.p12
*.der
*.jks
*.log
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib